{% extends "header.html"%} {% block content %}
<div class="bgded overlay" style="background-image:url({{url_for('static', filename='./images/img3.jpg')}});">
    <div id="breadcrumb" class="hoc clear">
        <ul class="slides">
            <li>
                <article1>
                    <h1 class='heading1'>Change your Password </h1>
                </article1>
            </li>
        </ul>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/home">Setting</a></li>
            <li><a href="/change_pass"> Change Password</a></li>
        </ul>
    </div>
</div>
<div class="wrapper row3">
    <main class="hoc container clear">
        <div class="content">
            <p align="justify">Here you will be able to: </p>
            <p align="justify"> - Change your Password.</p>
            <br>
            <img class="imgl borderedbox inspace-5" src="" alt="">
            <h1><strong>How to do it?</strong></h1>
            <p align="justify">Please fill the form then save changes.
                <br>*: Note all data is required</p>
            <br>
            <form action="" method="POST">
                <div class="scrollable">
                    <table style="width: 100%">
                        <tbody>
                            <td style="text-align: right">Username: </td>
                            <td style="text-align: left">{{ username }}</td>
                        </tbody>

                        <tbody>
                            <td style="text-align: right">Old Password:<span style="color: red">*</span></td>
                            <td style="text-align: left"><input  type="password" name="oldpass" style="width: 300px;" placeholder="password" required></td>
                        </tbody>
                        <br>
                        <tbody>
                            <td style="text-align: right">new Password:<span style="color: red">*</span></td>
                            <td style="text-align: left"><input  type="password" name="newpass" style="width: 300px" placeholder="password" required></td>
                        </tbody>
                        <br>
                    </table>
                    <div class="center">
                        <input type="submit" name="type" value="save" class="btn brand z-depth-0" style="float: right;">
                        <input type="button" value="Cancel" class="btn brand z-depth-0" style="float: left;" onclick="history.back()">
                    </div>
                </div>
            </form>
        </div>
        <h1><br></h1>
    </main>
</div>
{% endblock content %}