{% extends "header.html"%} {% block content %}

<div class="bgded overlay" style="background-image:url({{url_for('static', filename='./images/img3.jpg')}});">
    <div class="hoc clear pageintro">
        <div class="flexslider basicslider">
            <ul class="slides">
                <li>
                    <article>
                        <h1 class='heading'>{{gettext('WisPerMed Annotation Tool')}}</h1>
                        <h1>{{gettext('Artificial intelligence and medical decision support')}}</h1>
                        <div class="overlaybox" id="signup">
                            <form action="" method="POST">
                                <h2>{{gettext('Change your Password')}}</h2>
                                <p>{{gettext('Please fill in the form and save changes.')}}</p>
                                <div class="scrollable">
                                    <div class="input_row">
                                        <label for="input_username">{{gettext('Nickname')}}: </label>
                                        <input type="text" id="input_username" name="username"
                                               placeholder="{{ username }}" disabled>
                                    </div>
                                    <div class="input_row">
                                        <label for="input_password" class="required">{{gettext('Old Password:')}} </label>
                                        <input type="password" id="input_password" name="oldpass"
                                               placeholder="{{gettext('Password')}}" required>
                                    </div>
                                    <div class="input_row">
                                        <label for="repeat_password" class="required">{{gettext('new Password:')}} </label>
                                        <input type="password" id="repeat_password" name="newpass"
                                               placeholder="{{gettext('Password')}}" required>
                                    </div>
                                    <div class="input_row">
                                        <p><span class="required"></span> {{gettext('This field is mandatory')}}</p>
                                        <span></span>
                                    </div>
                                    <div class="input_row">

                                        <input type="button" value="{{gettext('Cancel')}}"
                                               class="btn brand z-depth-0 cancel start"
                                               onclick="history.back()">
                                        <input type="submit" name="type" value="{{gettext('save')}}"
                                               class="btn brand z-depth-0 end">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </article>
                </li>
            </ul>
            <!--<ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/home">Setting</a></li>
                <li><a href="/change_pass"> Change Password</a></li>
            </ul>-->
        </div>
    </div>
</div>
{% endblock content %}
