{% extends "header.html"%} {% block content %}

    <div class="bgded overlay" style="background-image:url({{url_for('static', filename='./images/img3.jpg')}});">
        <div id="breadcrumb" class="hoc clear">
            <ul class="slides">
                <li>
                    <article1>
                        <h1 class='heading1'>{{gettext('Change your Password')}}</h1>
                    </article1>
                </li>
            </ul>
            <!--<ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/home">Setting</a></li>
                <li><a href="/change_pass"> Change Password</a></li>
            </ul>-->
        </div>
    </div>
    <div class="wrapper row3">
        <main class="hoc container clear">
            <div class="content">
                <p>{{gettext('Please fill in the form and save changes.')}}</p>
                <p>{{gettext('*required data')}}</p>
                <form action="" method="POST">
                    <div class="scrollable">
                        <table style="width: 100%">
                            <tbody>
                            <td style="text-align: right">{{gettext('Username:')}}</td>
                            <td style="text-align: left">{{ username }}</td>
                            </tbody>

                            <tbody>
                            <td style="text-align: right">{{gettext('Old Password:')}}<span style="color: red">*</span></td>
                            <td style="text-align: left"><input type="password" name="oldpass" style="width: 300px;"
                                                                placeholder="{{gettext('Password')}}" required></td>
                            </tbody>

                            <tbody>
                            <td style="text-align: right">{{gettext('new Password:')}}<span style="color: red">*</span></td>
                            <td style="text-align: left"><input type="password" name="newpass" style="width: 300px"
                                                                placeholder="{{gettext('Password')}}" required></td>
                            </tbody>

                        </table>
                        <div class="center">
                            <input type="submit" name="type" value="{{gettext('save')}}" class="btn brand z-depth-0 end">
                            <input type="button" value="{{gettext('Cancel')}}" class="btn brand z-depth-0 cancel start"
                                   onclick="history.back()">
                        </div>
                    </div>
                </form>
            </div>
            <h1><br></h1>
        </main>
    </div>
{% endblock content %}