<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="{{url_for('static', filename='./layout/styles/layout.css')}}" rel="stylesheet" type="text/css"
          media="all">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="{{url_for('static', filename='./layout/scripts/cookieTime.js')}}"></script>

    <link rel="shortcut icon" href="{{ url_for('static', filename='./images/favicon.ico') }}">
    {{ fontawesome_html() }}
    {% if title %}
    <title>{{ title }} - WisPerMed</title>
    {% else %}
    <title>WisPerMed</title>
    {% endif %}
</head>
<body>
<header>
    <div class="wrapper row1">
        <div id="header" class="hoc clear">
            <div id="logo" class="fl_left">
                <h1>
                    <img class="logo1" src="{{ url_for('static', filename='./images/logo.jpg') }}" alt="logo"> <a
                        href="/"> e-Health!</a>
                </h1>
            </div>
            <nav id="mainav" class="fl_right">
                <ul class="clear">
                    <li class="active"><a href="/home"><span class="fas fa-home"></span> {{gettext('Home')}}</a></li>
                    <li class="active"><a href="/technicality"><span class="fas fa-edit"></span> {{gettext('Annotate')}}</a>
                    </li>
                    <!--<li class="active"><a class="drop" href="#"><span class="fas fa-edit"></span> {{gettext('Annotate')}}</a>
                        <ul>
                            <li class="active"><a href="/technicality">{{gettext('Technicality')}}</a></li>
                        </ul>
                    </li> -->

                    <li class="active"><a class="drop" href="#"><span class="fas fa-external-link-alt"></span>
                        {{gettext('About us')}}</a>
                        <ul>
                            <li class="active"><a href="https://www.uni-due.de/grk_wispermed/grk_wispermed.php"><span
                                    class="fas fa-info-circle"></span> {{gettext('WisPerMed')}}</a></li>
                            <li class="active"><a
                                    href="mailto:catharina.beckmann@fh-dortmund.de?subject=Medical abstracts survey!"><span
                                    class="fas fa-envelope"></span> {{gettext('Contact us')}}</a></li>
                        </ul>
                    </li>

                    <!---->
                </ul>
            </nav>
        </div>
    </div>
</header>
<main>
    {% block content %} {% endblock %}
</main>
<footer class="row5">
    <div id="copyright" class="hoc clear">
        <p class="fl_left">Powered by WisPerMed</p>
        <p class="fl_right">&copy; Copyright 2021
        <p>
        </p>
        <a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
    </div>
</footer>
<!-- JAVASCRIPTS -->
<script type="text/javascript" src="{{ url_for('static', filename='./layout/scripts/sliderInputController.js') }}"/>
<!-- <script type="text/javascript" src="{{ url_for('static', filename='./layout/scripts/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='./layout/scripts/jquery.backtotop.js') }}"></script>-->
<script type="text/javascript" src="{{ url_for('static', filename='./layout/scripts/jquery.mobilemenu.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='./layout/scripts/jquery.flexslider-min.js') }}"></script>
</body>

</html>