{% extends "header.html"%} {% block content %}
<div class="bgded overlay" style="background-image:url({{url_for('static', filename='./images/img2.jpg')}});">
    <div class="hoc clear pageintro">
        <div class="flexslider basicslider">
            <ul class="slides">
                <li>
                    <article>
                        <h1 class='heading'><span style="color: #00ACEE;" class='heading'>{{ username }}</span>{{gettext(', Welcome to WisPerMed')}}{{gettext(' Annotation Tool!')}} </h1>
                        <h1>{{gettext('Help improving Artificial intelligence in medical decision support')}}</h1>
                        <footer><a class="btn cancel" href="/technicality">{{gettext('Start Annotation!')}}</a></footer>
                    </article>
                </li>
            </ul>
        </div>
        <div class="overlaybox transparent content subtext">
            <h1 class="center">{{gettext('Thank you for supporting our research!')}}</h1>

        </div>
    </div>
</div>
{% endblock content %}