{% extends "header.html"%} {% block content %}
<div class="bgded overlay" style="background-image:url({{url_for('static', filename='./images/img2.jpg')}});">
    <div id="pageintro" class="hoc clear">
        <div class="flexslider basicslider">
            <ul class="slides">
                <li>
                    <article>
                        <h1 class='heading'><span style="color: #00ACEE;" class='heading'>{{ username }}</span>{{gettext(', Welcome to WisPerMed')}} </h1>
                        <h1>{{gettext('Annotation tool for improving Artificial intelligence in medical decision support')}}</h1>
                    </article>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="wrapper row3">
    <main class="hoc container clear">
        <div class="content">
            <h3 class="heading" align="center">{{gettext('Welcome to ') }}<a href="https://www.uni-due.de/grk_wispermed/grk_wispermed.php">WisPerMed</a>{{gettext(' Annotation Tool!')}}</h3>
            <p>{{gettext('Thank you for supporting our research for improving AI in Medicine')}}</p>
            <p>{{gettext('Here we will try to identify the following terms for medical abstracts:')}}</p>
            <ul>
                <li>{{gettext('Technicality level for medical research abstracts')}}</li>
                <li>{{gettext('XXXXXXXXXXXXXXXXXXXXXXXXX')}}</li>
                <li>{{gettext('XXXXXXXXXXXXXXXXXXXXXXXXX')}}</li>
            </ul>
            <div class="clear"></div>
        </div>
    </main>
</div>
{% endblock content %}