{% extends "header.html"%} {% block content %}
<div class="bgded overlay" style="background-image:url({{url_for('static', filename='./images/img2.jpg')}});">
    <div class="hoc clear pageintro">
        <div class="flexslider basicslider">
            <ul class="slides">
                <li>
                    <article>
                        <h1 class='heading'>{{gettext('Thank you!')}}<br><span
                                class='heading highlight1'>{{ level }}</span></h1>
                        <h1 class='heading'>{{gettext('Your annotation was saved')}}</h1>
                        <span class='subheading highlight1'>{{gettext('You have annotated ')}}</span>
                        <span class='subheading highlight2'>{{ annotations }}</span>
                        {% if annotations == 1 %}
                        <span class='subheading highlight1'>{{gettext('abstract so far.')}}</span>
                        {% else %}
                        <span class='subheading highlight1'>{{gettext('abstracts so far.')}}</span>
                        {% endif %}
                        <br>
                        {% if annotations < 2 %}
                        <span class='subheading'>{{gettext('Please annotate at least 2 abstracts')}}</span>
                        {% else %}
                        <span class='subheading'>{{gettext('If you like, keep on annotating.')}}</span>
                        {% endif %}

                        <footer><a class="btn cancel" href="/technicality">
                            {% if annotations < 2 %}
                            {{gettext('Next Abstract')}}
                            {% else %}
                            {{gettext('Give me more abstracts')}}
                            {% endif %}</a>
                        </footer>
                    </article>
                </li>
            </ul>
        </div>
        <div class="overlaybox transparent content subtext">
            <h1 class="center">{{gettext('Thank you for supporting our research!')}}</h1>

        </div>
    </div>
</div>
{% endblock content %}