<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="{{url_for('static', filename='./layout/styles/layout.css')}}" rel="stylesheet" type="text/css"
          media="all">
    <script src="{{url_for('static', filename='./layout/scripts/jquery.min.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='./layout/scripts/cookieTime.js')}}"></script>

    <link rel="shortcut icon" href="{{ url_for('static', filename='./images/favicon.ico') }}">
    {{ fontawesome_html() }}
    {% if title %}
    <title>{{ title }} - WisPerMed</title>
    {% else %}
    <title>WisPerMed</title>
    {% endif %}
</head>

<body>
<header class="wrapper row1">
    <div id="header" class="hoc clear">
        <div id="logo" class="fl_left">
            <h1>
                <img class="logo1" src="{{ url_for('static', filename='./images/logo.jpg') }}" alt="logo"> <a href="/">
                e-Health!</a>
            </h1>
        </div>
        <nav id="mainav" class="fl_right">
            <ul class="clear">
                <li class="active"><a href="/home">{{gettext('Home')}}</a></li>

                <li class="active"><a class="drop" href="#"><span class="fas fa-external-link-alt"></span>
                    {{gettext('About us')}}</a>
                    <ul>
                        <li class="active"><a href="https://www.uni-due.de/grk_wispermed/grk_wispermed.php"><span
                                class="fas fa-info-circle"></span> {{gettext('WisPerMed')}}</a></li>
                        <li class="active"><a
                                href="mailto:catharina.beckmann@fh-dortmund.de?subject=Medical abstracts survey!"><span
                                class="fas fa-envelope"></span> {{gettext('Contact us')}}</a></li>
                    </ul>
                </li>

            </ul>
        </nav>
    </div>
</header>
<main class="bgded overlay" style="background-image:url({{ url_for('static', filename='images/img2.jpg') }});">
    <div class="hoc clear pageintro">
        <div class="flexslider basicslider">
            <ul class="slides">
                <li>
                    <article>
                        <h1 class='heading'>{{gettext('Welcome to WisPerMed Annotation Tool!')}}</h1>
                        <h1>{{gettext('Artificial intelligence and medical decision support') }}</h1>
                        <div class="overlaybox" id="signup">
                            <form action="" method="POST" id="loging">
                                <h2>{{gettext('Getting started')}}</h2>
                                    <p class="center">{{gettext('Thank you for supporting our research for improving AI in Medicine <br> You are only one step far from making a difference! <br> Are you in the medical domain and would like to help us? Then contact us via')}}
                                        <a class="link_inverted"
                                       href="mailto:catharina.beckmann@fh-dortmund.de?subject=Medical abstracts survey!">E-mail</a>
                                    </p>
                                   <div class="max_80"><p>{{gettext('Please answer the following questions about your language skills and consent in the use of the collected data to proceed to the annotation. All data collected will be stored under an automatically generated completely anonymous user.')}}</span>
                                 </p>
                                </div>
                                {% if message %}
                                <p style="color: #9C1A1C; background-color: moccasin;cursor: pointer; border: 3px; border-color: #474747 ;padding: 15px; margin-top: 30px">
                                    {{ message }}
                                </p>
                                {% endif %}
                                <div class="emptyLine"></div>
                                <div class="input">
                                <div class="input_row">
                                    <label for="german_language_level" class="required">{{gettext('What is your German language level:')}}</label>
                                    <select name="german_language_level" id="german_language_level" required>
                                        <option style="display: none" value="">{{gettext('Select')}}</option>
                                         <option value="b1">{{gettext('B1 (Independent)')}}</option>
                                        <option value="b2">{{gettext('B2 (upper Independent)')}}</option>
                                        <option value="c1">{{gettext('C1 (Advanced)')}}</option>
                                        <option value="native">{{gettext('Native')}}</option>
                                    </select>
                                </div>
                                <div class="input_row">
                                    <label for="english_language_level" class="required">{{gettext('What is your English language level:')}}</label>
                                    <select name="english_language_level" id="english_language_level" required>
                                        <option style="display: none" value="">{{gettext('Select')}}</option>
                                        <option value="b1">{{gettext('B1 (Independent)')}}</option>
                                        <option value="b2">{{gettext('B2 (upper Independent)')}}</option>
                                        <option value="c1">{{gettext('C1 (Advanced)')}}</option>
                                        <option value="native">{{gettext('Native')}}</option>
                                    </select>
                                </div>
                                <div class="input_row">
                                    <label for="Med_level" class="required">{{gettext('To which category do you belong?:')}}</label>
                                    <select name="Med_level" id="Med_level" required>
                                        <option style="display: none" value="">{{gettext('Select')}}</option>
                                        <option value="sr_doc">{{gettext('Physician with 2+ years of experience')}}
                                        </option>
                                        <option value="jr_doc">{{gettext('Physician with less than 2 years of experience')}}
                                        </option>
                                        <option value="sr_std">{{gettext('Senior medical student (7th semester +)')}}
                                        </option>
                                        <option value="jr_std">{{gettext('Junior medical student (up to 6th semester)')}}
                                        </option>
                                        <option value="nt_med">{{gettext('Out of medical domain')}}</option>
                                    </select>
                                </div>
                                <div class="emptyLine"></div>

                                 <div class="checkRow">
                                   <label class="required">{{gettext('I consent to the use of the collected data for research and publication purposes.')}}
                                   <input type="checkbox" name="data_consent" id="data_consent" required >
                                   </label>
                                </div>
                                    <div class="checkRow">
                                   <label class="required">{{gettext('I consent to the use of functional cookies on this site.')}}
                                       <input type="checkbox" name="cookie_consent" id="cookie_consent" required>
                                   </label>
                                </div>
                                <div class="input_row">
                                    <span></span>
                                    <input type="submit" name="type" value="{{gettext('start')}}"
                                           class="btn btn-primary">
                                </div>
</div>

                            </form>
                        </div>
                    </article>
                </li>
            </ul>
        </div>
    </div>
</main>


<footer class="row5">
    <div id="copyright" class="hoc clear">
        <p class="fl_left">Powered by WisPerMed</p>
        <p class="fl_right">&copy; Copyright 2021
        <p>
        </p>
    </div>
</footer>
<!-- <a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>-->
<!-- JAVASCRIPTS -->
<!-- <script type="text/javascript" src="{{ url_for('static', filename='./layout/scripts/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='./layout/scripts/jquery.backtotop.js') }}"></script>-->
<script type="text/javascript" src="{{ url_for('static', filename='./layout/scripts/jquery.mobilemenu.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='./layout/scripts/jquery.flexslider-min.js') }}"></script>
</body>

</html>