{% extends "header.html"%} {% block content %}


<div class="bgded overlay_header" style="background-image:url({{url_for('static', filename='./images/img3.jpg')}});"
     xmlns="http://www.w3.org/1999/html">
    <div id="breadcrumb" class="hoc clear">
        <ul class="slides">
            <li>
                <article1>
                    <h1 class='heading1'>{{gettext('Annotation tool of medical documents')}}</h1>
                </article1>
            </li>
        </ul>
        <!--<ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/home">Annotate</a></li>
            <li><a href="/technicality"> Annotate Technicality</a></li>
        </ul>-->
    </div>
</div>
<div class="wrapper row3">
    <main class="hoc container clear">
        <div class="content">
            <!--<h1><strong>{{gettext('Level of Technicality')}}</strong></h1>-->
            <p align="justify">{{gettext('Please read the abstracts carefully and evaluate their technicality and
                readability levels on a scale between 0 and 100 percent.')}}</p>
            <form method="POST">
                <script type="text/javascript">
                    if (window.addEventListener) {
                        window.addEventListener('load', setSliderStates, false); //W3C
                    }

                    function setSliderStates() {
                        localStorage.setItem("1", "0");
                        localStorage.setItem("2", "0");
                        localStorage.setItem("3", "0");
                        localStorage.setItem("4", "0");
                        localStorage.setItem("5", "0");
                        localStorage.setItem("6", "0");
                        localStorage.setItem("7", "0");
                        localStorage.setItem("8", "0");
                        localStorage.setItem("9", "0");
                        localStorage.setItem("10", "0");
                        localStorage.setItem("11", "0");
                        localStorage.setItem("12", "0");
                        localStorage.setItem("13", "0");

                    }

                    function checkSubmitEnable(nr) {
                        if (nr === "6" || nr === "7" || nr === "8" || nr === "9" || nr === "10" || nr === "11" || nr === "12" || nr === "13") {
                            if (localStorage.getItem(nr) === "0")
                                localStorage.setItem(nr, "1");
                            else
                                localStorage.setItem(nr, "0");
                        } else
                            localStorage.setItem(nr, "1");
                        console.log(nr + " " + localStorage.getItem(nr));
                        const button = document.getElementById("submitAnnotation");

                        if (localStorage.getItem("1") === "1"
                            && localStorage.getItem("2") === "1"
                            && localStorage.getItem("3") === "1"
                            && localStorage.getItem("4") === "1"
                            && localStorage.getItem("5") === "1"
                            &&
                            (localStorage.getItem("6") === "1" || localStorage.getItem("7") === "1"
                                || localStorage.getItem("8") === "1" || localStorage.getItem("9") === "1"
                                || localStorage.getItem("10") === "1" || localStorage.getItem("11") === "1"
                                || localStorage.getItem("12") === "1" || localStorage.getItem("13") === "1")
                        ) {
                            button.disabled = false;
                            button.classList.remove("disabled");
                        } else if (!button.disabled) {
                            button.disabled = true;
                            button.classList.add("disabled");
                        }

                    }
                </script>
                <table class="tg" style="table-layout: fixed;" on="setSliderStates()">
                    <colgroup>
                        <col span="1" width="100px">
                        <col span="1">
                    </colgroup>
                    <tbody>
                    <tr>
                        <td class="tg-0lax">Topic_ID</td>
                        <td class="tg-0lax">{{doc["_id"]}}</td>
                    </tr>
                    <tr>
                        <td class="tg-0lax">{{gettext('Title')}}</td>
                        <td class="tg-0lax">{{doc["tittle"]}}</td>
                    </tr>
                    <tr class="lightMainColor">
                        <td class="tg-0lax">{{gettext('English abstract')}}</td>
                        <td class="tg-0lax">{{doc["english_abstract"]}}</td>
                    </tr>
                    <tr class="lightMainColor"><!--INPUT-->
                        <td class="tg-0lax" colspan="2" style="padding:0 10px;">
                            <div class="slider_with_counter">
                                <label for="level_en" id="technicality_label_level_en" class="tooltip ">
                                    <strong>{{gettext('Technicality Level -')}}</strong>
                                    <strong>{{gettext('Englishs')}}</strong>
                                    {{gettext('abstract: ')}}
                                    <span class="tooltiptext">{{gettext('An article may be well written and grammatically understandable, but its content may cover concepts only understandable to people learned in a certain domain. 0 means high technical text, and 100 low technicality.')}}</span>
                                </label>
                                <output id="output_en" for="level_en"></output>
                                <span class="counter, required">%</span>
                                <div class="slider_extended">
                                    <span>  0  </span>
                                    <input type="range" name="technicality_level_en" min=0
                                           max=100 step="5" id="level_en"
                                           style="width: 100%; background-color: transparent;" value="50"
                                           onchange="checkSubmitEnable('1')" oninput="checkSubmitEnable('1')"/>
                                    <span></span>
                                    <span> 100 </span>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="lightMainColor"><!--INPUT-->
                        <td class="tg-0lax" colspan="2" style="padding:0 10px;">
                            <div class="slider_with_counter">
                                <label for="read_level_en" id="readability_label_level_en" class="tooltip ">
                                    <strong>{{gettext('Readability Level -')}}</strong>
                                    <strong>{{gettext('Englishs')}}</strong>
                                    {{gettext('abstract: ')}}
                                    <span class="tooltiptext">{{gettext('The ease with which a reader can understand a written text. 0 means Hard to read, and 100 easy to read.')}}</span>
                                </label>
                                <output id="readability_output_en" for="read_level_en"></output>
                                <span class="counter, required">%</span>
                                <div class="slider_extended">
                                    <span>  0  </span>
                                    <input type="range" name="readability_level_en" min=0
                                           max=100 step="5" id="read_level_en"
                                           style="width: 100%; background-color: transparent;" value="50"
                                           onchange="checkSubmitEnable('2')" oninput="checkSubmitEnable('2')">
                                    <span></span>
                                    <span> 100 </span>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="lightMainColor2">
                        <td class="tg-0lax">{{gettext('German abstract')}}</td>
                        <td class="tg-0lax">{{doc["german_abstract"]}}</td>
                    </tr>
                    <tr class="lightMainColor2"><!--INPUT-->
                        <td class="tg-0lax" colspan="2" style="padding:0 10px;">
                            <div class="slider_with_counter">
                                <label for="level_de" id="technicality_label_level_de" class="tooltip">
                                    <strong>{{gettext('Technicality Level -')}}</strong>
                                    <strong>{{gettext('Germans')}}</strong>
                                    {{gettext('abstract:')}}

                                    <span class="tooltiptext">{{gettext('An article may be well written and grammatically understandable, but its content may cover concepts only understandable to people learned in a certain domain. 0 means high technical text, and 100 low technicality.')}}</span>
                                </label>
                                <output id="output_de" for="level_de"></output>
                                <span class="counter, required">%</span>
                                <div class="slider_extended">
                                    <span> 0  </span>
                                    <input type="range" name="technicality_level_de" min=0
                                           max=100 step="5" id="level_de"
                                           style="width: 100%; background-color: transparent;" value="50"
                                           onChange="checkSubmitEnable('3')" oninput="checkSubmitEnable('3')"/>
                                    <span></span>
                                    <span> 100 </span>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="lightMainColor2"><!--INPUT-->
                        <td class="tg-0lax" colspan="2" style="padding:0 10px;">
                            <div class="slider_with_counter">
                                <label for="readability_level_de" id="readability_label_level_de" class="tooltip">
                                    <strong>{{gettext('Readability Level -')}}</strong>
                                    <strong>{{gettext('Germans')}}</strong>
                                    {{gettext('abstract:')}}
                                    <span class="tooltiptext">{{gettext('The ease with which a reader can understand a written text. 0 means Hard to read, and 100 easy to read.')}}</span>
                                </label>
                                <output id="readability_output_de" for="readability_level_de"></output>
                                <span class="counter, required">%</span>
                                <div class="slider_extended">
                                    <span> 0  </span>
                                    <input type="range" name="readability_level_de" min=0
                                           max=100 step="5" id="readability_level_de"
                                           style="width: 100%; background-color: transparent;" value="50"
                                           onchange="checkSubmitEnable('4')" oninput="checkSubmitEnable('4')"/>
                                    <span></span>
                                    <span> 100 </span>
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr class="lightMainColor3">
                        <td class="tg-0lax, required">{{gettext('Topic')}}</td>
                        <!--<td class="tg-0lax">{{doc["topic"]}}</td>-->
                        <td>
                            <div id="dynamic-list-div">
                                <select id="topics-list"
                                        onchange="ChangeSecondList(this.options[this.selectedIndex].value)"
                                        name="topics">
                                    <option class="optionGroup"  value="" selected="selected">Select an option...</option>
                                    <option class="optionGroup"  value="Anesthesiology">Anesthesiology</option>
                                    <option class="optionGroup"  value="Cardiology">Cardiology</option>
                                    <option class="optionGroup"  value="Dermatology">Dermatology</option>
                                    <option class="optionGroup"  value="Emergency Medicine">Emergency Medicine</option>
                                    <option class="optionGroup"  value="Family Practice">Family Practice</option>
                                    <option class="optionGroup"  value="Forensic Medicine">Forensic Medicine</option>
                                    <option class="optionGroup"  value="Geriatrics">Geriatrics</option>
                                    <!--subsection-->
                                    <option class="optionGroup" value="Internal Medicine">Internal Medicine</option>

                                    <!--subsection-->
                                    <option class="optionGroup" value="Medical Genetics">Medical Genetics</option>

                                    <option class="optionGroup"  value="Neurology">Neurology</option>

                                    <option class="optionGroup"  value="Obstetrics">Obstetrics</option>
                                    <option class="optionGroup"  value="Obstetrics and Gynecology">Obstetrics and Gynecology</option>
                                    <option class="optionGroup"  value="Occupational Medicine">Occupational Medicine</option>


                                    <!--subsection-->
                                    <option class="optionGroup"  class="optionGroup" value="Ophthalmology">Ophthalmology</option>

                                    <option class="optionGroup"  value="Otolaryngology">Otolaryngology</option>
                                    <!--subsection-->
                                    <option class="optionGroup" value="Pathology">Pathology</option>
                                    <!--subsection-->
                                    <option class="optionGroup" value="Pediatrics">Pediatrics</option>


                                    <option class="optionGroup"  value="Physical Medicine and Rehabilitation">Physical Medicine and Rehabilitation</option>
                                    <option class="optionGroup"  value="Podiatry">Podiatry</option>

                                    <!--subsection-->
                                    <option class="optionGroup" value="Preventive Medicine">Preventive Medicine</option>

                                    <!--subsection-->
                                    <option class="optionGroup" value="Psychiatry">Psychiatry</option>

                                    <!--subsection-->
                                    <option class="optionGroup" value="Public Health">Public Health</option>

                                    <option class="optionGroup"  value="Pulmonary Medicine">Pulmonary Medicine</option>
                                    <!--subsection-->
                                    <option class="optionGroup" value="Radiology">Radiology</option>

                                    <option class="optionGroup"  value="Sports Medicine">Sports Medicine</option>
                                    <option class="optionGroup"  value="Surgery">Surgery</option>

                                    <!--subsection-->
                                    <option class="optionGroup" value="Surgical Specialty">Surgical Specialty</option>
                                    <option  class="optionGroup" value="Urology">Urology</option>
                                </select>
                                <div id="second-list-dev"></div>
                            </div>
                            <script type="text/javascript">
                                function ChangeSecondList(value) {
                                    if (document.getElementById('topics-list').selectedIndex > 0) {
                                        checkSubmitEnable("5");
                                    }
                                    if (!document.getElementById('"second_topics-list"')) {
                                        var divid = document.getElementById("second-list-dev");
                                        divid.innerHTML = `
                                        <select id="second_topics-list" name="second_topics" >
                                            <option value="" selected="selected">You [can] select a second topic! ...</option>

                                             <option class="optionGroup"  value="Anesthesiology">Anesthesiology</option>
                                    <option class="optionGroup"  value="Cardiology">Cardiology</option>
                                    <option class="optionGroup"  value="Dermatology">Dermatology</option>
                                    <option class="optionGroup"  value="Emergency Medicine">Emergency Medicine</option>
                                    <option class="optionGroup"  value="Family Practice">Family Practice</option>
                                    <option class="optionGroup"  value="Forensic Medicine">Forensic Medicine</option>
                                    <option class="optionGroup"  value="Geriatrics">Geriatrics</option>
                                    <!--subsection-->
                                    <option class="optionGroup" value="Internal Medicine">Internal Medicine</option>

                                    <!--subsection-->
                                    <option class="optionGroup" value="Medical Genetics">Medical Genetics</option>

                                    <option class="optionGroup"  value="Neurology">Neurology</option>

                                    <option class="optionGroup"  value="Obstetrics">Obstetrics</option>
                                    <option class="optionGroup"  value="Obstetrics and Gynecology">Obstetrics and Gynecology</option>
                                    <option class="optionGroup"  value="Occupational Medicine">Occupational Medicine</option>


                                    <!--subsection-->
                                    <option class="optionGroup"  class="optionGroup" value="Ophthalmology">Ophthalmology</option>

                                    <option class="optionGroup"  value="Otolaryngology">Otolaryngology</option>
                                    <!--subsection-->
                                    <option class="optionGroup" value="Pathology">Pathology</option>
                                    <!--subsection-->
                                    <option class="optionGroup" value="Pediatrics">Pediatrics</option>


                                    <option class="optionGroup"  value="Physical Medicine and Rehabilitation">Physical Medicine and Rehabilitation</option>
                                    <option class="optionGroup"  value="Podiatry">Podiatry</option>

                                    <!--subsection-->
                                    <option class="optionGroup" value="Preventive Medicine">Preventive Medicine</option>

                                    <!--subsection-->
                                    <option class="optionGroup" value="Psychiatry">Psychiatry</option>

                                    <!--subsection-->
                                    <option class="optionGroup" value="Public Health">Public Health</option>

                                    <option class="optionGroup"  value="Pulmonary Medicine">Pulmonary Medicine</option>
                                    <!--subsection-->
                                    <option class="optionGroup" value="Radiology">Radiology</option>

                                    <option class="optionGroup"  value="Sports Medicine">Sports Medicine</option>
                                    <option class="optionGroup"  value="Surgery">Surgery</option>

                                    <!--subsection-->
                                    <option class="optionGroup" value="Surgical Specialty">Surgical Specialty</option>
                                    <option  class="optionGroup" value="Urology">Urology</option>


                                </select>
                                    `
                                    }
                                    document.getElementById('topics-list').value = value;
                                }
                            </script>
                        </td>
                    </tr>
                    <tr class="lightMainColor4">
                        <td class="tg-0lax" colspan="2">
                            <strong class="required">{{gettext('Desirable information for (a better) contextual understanding')}}</strong>
                            <div class="checkRow">
                                <label>
                                    <input type="checkbox" name="contextOptions" onchange="checkSubmitEnable('6')"
                                           ontouchend="checkSubmitEnable('6')"
                                           value="opt1"/> {{gettext('Exchange with colleagues of the same professional level')}}
                                </label>
                            </div>
                            <div class="checkRow">
                                <label>
                                    <input type="checkbox" name="contextOptions" onchange="checkSubmitEnable('7')"
                                           value="opt2"> {{gettext('Exchange with supervisors')}}
                                </label>
                            </div>
                            <div class="checkRow">
                                <label><input type="checkbox" name="contextOptions" onchange="checkSubmitEnable('8')"
                                              value="opt3"> {{gettext('Pschyrembel (medical dictionary)')}}
                                </label>
                            </div>
                            <div class="checkRow">
                                <label><input type="checkbox" name="contextOptions" onchange="checkSubmitEnable('9')"
                                              value="opt5"> {{gettext('Medical guideline')}}
                                </label>
                            </div>
                            <div class="checkRow">
                                <label><input type="checkbox" name="contextOptions" onchange="checkSubmitEnable('10')"
                                              value="opt6"> {{gettext('Hospital-specific SOP (standard operating procedure)')}}
                                </label></div>
                            <div class="checkRow">
                                <label><input type="checkbox" name="contextOptions"
                                              onchange="checkSubmitEnable('11');showHideControl('opt7Info')"

                                              value="opt7">
                                    {{gettext('Online tool')}}
                                    <input type="text" style=" display:none" placeholder="{{gettext('Which?')}}"
                                           id="opt7Info" name="opt7Info" width="250px"/></label>
                            </div>
                            <div class="checkRow">
                                <label><input type="checkbox"
                                              onchange="showHideControl('opt8Info'); checkSubmitEnable('12')"
                                              name="contextOptions"
                                              value="opt8">

                                    {{gettext('Other information')}}
                                    <input type="text" style=" display:none" placeholder="{{gettext('Which?')}}"
                                           id="opt8Info" name="opt8Info" width="250px"/></label>

                            </div>
                            <div class="checkRow">
                                <label><input type="checkbox" name="contextOptions"
                                              onchange="checkSubmitEnable('13')"
                                              value="opt9"> {{gettext('Not needed')}}
                                </label></div>
                            <script>
                                function showHideControl(id) {
                                    $('#' + id).toggle();
                                }
                            </script>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <p><span class="required"></span> {{gettext('This field is mandatory')}}</p>
                <input id="submitAnnotation" class="btn brand z-depth-0 end disabled" type="submit"
                       value="{{gettext('submit')}}" disabled>
            </form>
        </div>
        <h1><br></h1>

    </main>
</div>
{% endblock content %}