{% extends "header.html"%} {% block content %}


<div class="bgded overlay" style="background-image:url({{url_for('static', filename='./images/img3.jpg')}});">
    <div id="breadcrumb" class="hoc clear">
        <ul class="slides">
            <li>
                <article1>
                    <h1 class='heading1'>Annotate medical documents technicality</h1>
                </article1>
            </li>
        </ul>
        <!--<ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/home">Annotate</a></li>
            <li><a href="/technicality"> Annotate Technicality</a></li>
        </ul>-->
    </div>
</div>
<div class="wrapper row3">
    <main class="hoc container clear">
        <div class="content">
            <h1><strong>Level of Technicality</strong></h1>
            <p align="justify">Please read the abstract carefully then fill the following form.</p>
            <br>
            <table class="tg" style="table-layout: fixed;">
                <colgroup>
                    <col span="1" style="width: 5%;">
                    <col span="1" style="width: 95%;">
                </colgroup>
                <tbody>
                <tr>
                    <td class="tg-0lax">Topic_ID</td>
                    <td class="tg-0lax">{{doc["_id"]}}</td>
                </tr>
                <tr>
                    <td class="tg-0lax">Topic</td>
                    <td class="tg-0lax">{{doc["topic"]}}</td>
                </tr>
                <tr>
                    <td class="tg-0lax">Title</td>
                    <td class="tg-0lax">{{doc["tittle"]}}</td>
                </tr>
                <tr>
                    <td class="tg-0lax">English</td>
                    <td class="tg-0lax">{{doc["english_abstract"]}}</td>
                </tr>
                <tr>
                    <td class="tg-0lax">German</td>
                    <td class="tg-0lax">{{doc["german_abstract"]}}</td>
                </tr>
                </tbody>
            </table>
            <form method="POST">
                <div class="slider_with_counter">
                    <label for="level_en" id="label_level_en"> Technicality Level <strong>English</strong> abstract:</label>
                    <output id="output_en" for="level_en" ></output><span class="counter">%</span>
                    <input type="range" name="technicality_level" min=0 max=100 step="5" id="level_en"
                           style="width: 100%;" value="50">

                </div>
                <div class="slider_with_counter">
                    <label for="level_de" id="label_level_de"> Technicality Level <strong>German</strong> abstract: </label>
                    <output id="output_de" for="level_en"></output><span class="counter">%</span>
                    <input type="range" name="technicality_level" min=0 max=100 step="5" id="level_de"
                           style="width: 100%;" value="50">
                </div>
                <script type="application/javascript"
                        src="{{ url_for('static', filename='./layout/scripts/sliderInputController.js') }}"/>


                <input type="submit" value="Submit">
            </form>
        </div>
        <h1><br></h1>
    </main>
</div>
{% endblock content %}