{% extends "header.html"%} {% block content %}


<div class="bgded overlay" style="background-image:url({{url_for('static', filename='./images/img3.jpg')}});"
     xmlns="http://www.w3.org/1999/html">
    <div id="breadcrumb" class="hoc clear">
        <ul class="slides">
            <li>
                <article1>
                    <h1 class='heading1'>{{gettext('Annotate medical documents')}}</h1>
                </article1>
            </li>
        </ul>
        <!--<ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/home">Annotate</a></li>
            <li><a href="/technicality"> Annotate Technicality</a></li>
        </ul>-->
    </div>
</div>
<div class="wrapper row3">
    <main class="hoc container clear">
        <div class="content">
            <!--<h1><strong>{{gettext('Level of Technicality')}}</strong></h1>-->
            <p align="justify">{{gettext('Please read the abstracts carefully and evaluate their technicality and
                readability levels on a scale between 0 and 100 percent.')}}</p>
            <form method="POST">
                <script type="text/javascript">
                    if (window.addEventListener) {
                        window.addEventListener('load', setSliderStates, false); //W3C
                    }
                    function setSliderStates() {
                        localStorage.setItem("1", "0");
                        localStorage.setItem("2", "0");
                        localStorage.setItem("3", "0");
                        localStorage.setItem("4", "0");
                        console.log(localStorage.getItem("1"))
                        console.log(localStorage.getItem("2"))
                        console.log(localStorage.getItem("3"))
                        console.log(localStorage.getItem("4"))

                    }

                    function checkSubmitEnable(nr) {
                        localStorage.setItem(nr, "1");
                        console.log(nr);
                        console.log(localStorage.getItem("1"))
                        console.log(localStorage.getItem("2"))
                        console.log(localStorage.getItem("3"))
                        console.log(localStorage.getItem("4"))

                        if (localStorage.getItem("1") === "1"
                            && localStorage.getItem("2") === "1"
                            && localStorage.getItem("3") === "1"
                            && localStorage.getItem("4") === "1") {
                            const button = document.getElementById("submitAnnotation");
                            button.disabled = false;
                            button.classList.remove("disabled");
                        }

                    }
                </script>
                <table class="tg" style="table-layout: fixed;" on="setSliderStates()">
                    <colgroup>
                        <col span="1">
                        <col span="1">
                    </colgroup>
                    <tbody>
                    <tr>
                        <td class="tg-0lax">Topic_ID</td>
                        <td class="tg-0lax">{{doc["_id"]}}</td>
                    </tr>
                    <tr>
                        <td class="tg-0lax">{{gettext('Topic')}}</td>
                        <!--<td class="tg-0lax">{{doc["topic"]}}</td>-->
                        <td>
                            <select id="l1-topics-list" onchange="ChangeSecondList(this.options[this.selectedIndex].value)" name="l1-topics">
                                <option value="">Select topic</option>
                                <option value="Anesthesiology">Anesthesiology</option>
                                <option value="Cardiology">Cardiology</option>
                                <option value="Dermatology">Dermatology</option>
                                <option value="Emergency Medicine">Emergency Medicine</option>
                                <option value="Family Practice">Family Practice</option>
                                <option value="Forensic Medicine">Forensic Medicine</option>
                                <option value="Geriatrics">Geriatrics</option>
                                <option value="Internal Medicine">Internal Medicine</option>
                                <option value="Medical Genetics">Medical Genetics</option>
                                <option value="Neurology">Neurology</option>
                                <option value="Obstetrics">Obstetrics</option>
                                <option value="Obstetrics and Gynecology">Obstetrics and Gynecology</option>
                                <option value="Occupational Medicine">Occupational Medicine</option>
                                <option value="Ophthalmology">Ophthalmology</option>
                                <option value="Otolaryngology">Otolaryngology</option>
                                <option value="Pathology">Pathology</option>
                                <option value="Pediatrics">Pediatrics</option>
                                <option value="Physical Medicine and Rehabilitation">Physical Medicine and Rehabilitation</option>
                                <option value="Podiatry">Podiatry</option>
                                <option value="Preventive Medicine">Preventive Medicine</option>
                                <option value="Psychiatry">Psychiatry</option>
                                <option value="Public Health">Public Health</option>
                                <option value="Pulmonary Medicine">Pulmonary Medicine</option>
                                <option value="Radiology">Radiology</option>
                                <option value="Sports Medicine">Sports Medicine</option>
                                <option value="Surgery">Surgery</option>
                                <option value="Surgical Specialty">Surgical Specialty</option>
                                <option value="Urology">Urology</option>
                            </select>

                            <div id="dynamic-list-div" style="display:none;">
                                <select id="dynamic-list" name="l2-topics">
                                    <option value="">Select subtopic</option>
                                </select>
                            </div>
                            <script type="text/javascript">
                                function ChangeSecondList(value) {
                                   if( value.length ) {
                                      var dropid = document.getElementById("dynamic-list");
                                      var data = {
                                          "Internal Medicine": ["Endocrinology", "Gastroenterology", "Gynecology", "Hematology","Nephrology","Oncology","Parasitology","Rheumatology"],
                                          "Medical Genetics": ["Breast Cancer Genetics"],
                                          "Ophthalmology": ["Experimental Ophthalmology"],
                                          "Pathology": ["Bone and Connective Tissue Pathology","Cardiovascular Pathology","Cytopathology","Experimental Pathology","Gynecologic Pathology", "Hematopathology","Human Pathology","Immunopathology","Molecular Pathology","Neuropathology", "Ocular Pathology","Oral Pathology","Pathology of Tumors in Animals","Psychopathology", "Pulmonary Pathology","Renal/Urogenital Pathology", "Surgical Pathology","Ultrastructural Pathology"],
                                          "Pediatrics": ["Neonatology", "Pediatric Hematology/Oncology", "Pediatric Neurologic Oncology", "Pediatric Neurology"],
                                          "Preventive Medicine": ["Health Promotion in Nursing"],
                                          "Psychiatry": ["Child Psychiatry", "Experimental Psychiatry", "Psychosomatic Medicine"],
                                          "Public Health": ["Arctic Research","Community Health", "Occupational Health", "Patterns of Care","Women's Health"],
                                          "Radiology": ["Diagnostic Radiology", "Interventional Radiology","Nuclear Medicine","Pediatric Radiology","Radiology, Bone","Radiology, Dental","Radiology, Head, Neck","Radiology, Soft Tissue","Radiology, Thorax, Chest","Therapeutic Radiology",],
                                          "Surgical Specialty": ["General Surgery","Hand Surgery","Neurosurgery","Oral Surgery","Orthopedics","Pediatric Surgery","Plastic Surgery","Thoracic Surgery","Urological Surgery","Vascular Surgery",],
                                      }
                                      console.log(value in data);
                                      console.log(value);
                                      console.log(data[value]);

                                      if (value in data) {
                                          document.getElementById("dynamic-list-div").style.display = "block";
                                          for(var i=0; i<data[value].length; i++ ) {
                                              var opt = document.createElement("option")
                                              opt.value = data[value][i];
                                              opt.innerText = data[value][i]
                                              dropid.appendChild(opt)
                                          }
                                          dropid.options[0].selected = true;
                                      }
                                      else {
                                          document.getElementById("dynamic-list-div").style.display = "none";
                                      }
                                   }
                                }
                                ChangeSecondList(document.getElementById("l1-topics-list").options[document.getElementById("l1-topics-list").selectedIndex].value);
                            </script>
                        </td>
                    </tr>
                    <tr>
                        <td class="tg-0lax">{{gettext('Title')}}</td>
                        <td class="tg-0lax">{{doc["tittle"]}}</td>
                    </tr>
                    <tr>
                        <td class="tg-0lax">{{gettext('English')}}</td>
                        <td class="tg-0lax">{{doc["english_abstract"]}}</td>
                    </tr>
                    <tr><!--INPUT-->
                        <td class="tg-0lax" colspan="2" style="padding:0 10px;">
                            <div class="slider_with_counter">
                                <label for="level_en" id="technicality_label_level_en">
                                    {{gettext('Technicality Level')}}
                                    <strong>{{gettext('Englishs')}}</strong>
                                    {{gettext('abstract: ')}}
                                </label>
                                <output id="output_en" for="level_en"></output>
                                <span class="counter">%</span>
                                <div class="slider_extended">
                                    <span>  0  </span>
                                    <input type="range" name="technicality_level_en" min=0
                                           max=100 step="5" id="level_en"
                                           style="width: 100%;" value="50" onclick="checkSubmitEnable('1')"/>
                                    <span></span>
                                    <span> 100 </span>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr><!--INPUT-->
                        <td class="tg-0lax" colspan="2" style="padding:0 10px;">
                            <div class="slider_with_counter">
                                <label for="read_level_en" id="readability_label_level_en">
                                    {{gettext('Readability Level')}}
                                    <strong>{{gettext('Englishs')}}</strong>
                                    {{gettext('abstract: ')}}
                                </label>
                                <output id="readability_output_en" for="read_level_en"></output>
                                <span class="counter">%</span>
                                <div class="slider_extended">
                                    <span>  0  </span>
                                    <input type="range" name="readability_level_en" min=0
                                           max=100 step="5" id="read_level_en"
                                           style="width: 100%;" value="50" onclick="checkSubmitEnable('2')"/>
                                    <span></span>
                                    <span> 100 </span>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="tg-0lax">{{gettext('German')}}</td>
                        <td class="tg-0lax">{{doc["german_abstract"]}}</td>
                    </tr>
                    <tr><!--INPUT-->
                        <td class="tg-0lax" colspan="2" style="padding:0 10px;">
                            <div class="slider_with_counter">
                                <label for="level_de" id="technicality_label_level_de"> {{gettext('Technicality
                                    Level')}}
                                    <strong>{{gettext('Germans')}} </strong>
                                    {{gettext('abstract:')}}</label>
                                <output id="output_de" for="level_de"></output>
                                <span class="counter">%</span>
                                <div class="slider_extended">
                                    <span> 0  </span>
                                    <input type="range" name="technicality_level_de" min=0
                                           max=100 step="5" id="level_de"
                                           style="width: 100%;" value="50" onclick="checkSubmitEnable('3')"/>
                                    <span></span>
                                    <span> 100 </span>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr><!--INPUT-->
                        <td class="tg-0lax" colspan="2" style="padding:0 10px;">
                            <div class="slider_with_counter">
                                <label for="readability_level_de" id="readability_label_level_de">
                                    {{gettext('Readability Level')}}
                                    <strong>{{gettext('Germans')}} </strong>
                                    {{gettext('abstract:')}}</label>
                                <output id="readability_output_de" for="readability_level_de"></output>
                                <span class="counter">%</span>
                                <div class="slider_extended">
                                    <span> 0  </span>
                                    <input type="range" name="readability_level_de" min=0
                                           max=100 step="5" id="readability_level_de"
                                           style="width: 100%;" value="50" onclick="checkSubmitEnable('4')"/>
                                    <span></span>
                                    <span> 100 </span>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <input id="submitAnnotation" class="btn brand z-depth-0 end disabled" type="submit"
                       value="{{gettext('submit')}}" disabled>
            </form>
        </div>
        <h1><br></h1>

    </main>
</div>
{% endblock content %}