body {
    background-color: #eeeeee;
}

.container .demo {
    text-align: center;
    font-size: 18px;
    margin-bottom: 15px;
}

.container .demo div {
    padding: 5px 0;
}

.container .demo div:nth-child(odd) {
    color: #000000;
    background: #FFFFFF;
}

.container .demo div:nth-child(even) {
    color: #FFFFFF;
    background: #FFFFFF;
}

@media screen and (max-width: 900px) {
    .container .demo div {
        margin-bottom: 0;
    }
}

.editorTextBox {
    height: 48px;
    width: 960px;
}
.slider_with_counter{
    width: 100%;
    display: grid;
    grid-template-columns: max-content max-content auto;
    grid-template-areas: "label counter per" "slider slider slider";
}
#label_level_de, #label_level_en{
    grid-area: label;
}
#output_de, #output_en{
    grid-area: counter;
}

#level_de, #level_en{
    grid-area: slider;
}
.counter
{
    grid-area: per;
}
