html {
    height: 100%;
}

body {
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

main {
    display: table-row;
    height: 100%;
}

.container .demo {
    text-align: center;
    font-size: 18px;
    margin-bottom: 15px;
}

.container .demo div {
    padding: 5px 0;
}

.container .demo div:nth-child(odd) {
    color: #000000;
    background: #FFFFFF;
}

.container .demo div:nth-child(even) {
    color: #FFFFFF;
    background: #FFFFFF;
}

@media screen and (max-width: 900px) {
    .container .demo div {
        margin-bottom: 0;
    }
}

.editorTextBox {
    height: 48px;
    width: 960px;
}

.slider_with_counter {
    width: 100%;
    display: grid;
    grid-template-columns: max-content max-content auto;
    grid-template-areas: "label counter per" "slider slider slider";
    margin: 5px 5px;
    padding-right: 10px;
}

#label_level_de, #label_level_en, #readability_label_level_de, #technicality_label_level_en, #technicality_label_level_de, #readability_label_level_en {
    grid-area: label;
}

#output_de, #output_en, #readability_output_en, #output_readability_level_de {
    grid-area: counter;
}

.counter {
    grid-area: per;
}

.clear li {
    list-style-type: none;
}

.slider_extended {
    grid-area: slider;
    display: grid;
    grid-template-columns: 15px 80% 5px max-content;
    justify-content: center;
}

.btn.cancel {
    background-color: var(--color-secondary-1-0);
    border-color: var(--color-secondary-2-0);
}

.btn.disabled, .btn.disabled:hover {
    background-color: #AAAAAA;
    border-color: #666666;
    color: #666666;
}

.start {
    float: left;
}

.end {
    float: right;
}

.center {
    align: center
}

.tg colgroup col {
    width: 100%;
}

.tg colgroup col:first-child {
    width: 1%;
}

@-moz-document url-prefix() {
    .tg colgroup col {
        width: 89%;
    }
    .tg colgroup col:first-child {
        width: 11%;
    }

}
.content.subtext{
        margin-top:18px;

}

.overlaybox, #signup.overlaybox,  #login.overlaybox {
    color: #000000;
    background-color: rgba(255, 255, 255, 0.8);
    display: grid;
    padding: 1px;
    border-radius: 12px;
    justify-content: center;
    margin-top: 18px;
}
.overlaybox.transparent{
    background-color: transparent;
    color: white;
}

.overlaybox .input_row input, .overlaybox .input_row select, .overlaybox .text_row select, .overlaybox .text_row input   {
    width: 300px;
    height: 23px;
}

.overlaybox input[type=submit], .overlaybox input[type=button]  {
    max-width: 160px;
    font-size: unset;
}

.overlaybox .input_row>input[type=submit], .overlaybox .text_row>input[type=submit], .overlaybox .input_row>input[type=button] {
    height: 35px;
}

.overlaybox .input_row , #signup .input_row, .overlaybox .text_row , #signup .text_row  {
    display: grid;
    grid-template-columns: auto 310px;
    justify-items: end;
    width: 100%;
}
.overlaybox .input_row , #signup .input_row
{
    margin: 15px;
}

.overlaybox .text_row , #signup .text_row
{
    margin: 5px;
}


.overlaybox h2{
    color:var(--color-primary-4);
    padding: 18px;
}
/*.overlaybox .input_row label, .overlaybox .input_row input, .overlaybox .input_row select {
    margin: 10px;
}*/

.fa-info-circle {
    color: var(--color-primary-4);
}

.invisible {
    display: none;
}


/** FF*/
input[type="range"]::-moz-range-progress {
    background-color: var(--color-secondary-2-0);
}

input[type="range"]::-moz-range-track {
    background-color: #F7F7F7;
    border-radius: 4px;
    border: 1px solid #DDDDDD;
}

.centered_list {
    display: grid;
}

.centered_list ul {
    justify-self: center;
}


.required:after {
    content: " *";
    color: var(--color-secondary-2-4);
}


.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 400px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
